<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Home - Biblioteca</title>
</head>

<body>
    <header style="background: rgb(10, 13, 21); text-align: center;">
        <h1>Biblioteca!</h1>
    </header>
    <main>
        <h2>Alugue livros!</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Autores</th>
                        <th scope="col">Ano de Publi.</th>
                        <th scope="col">Editora</th>
                        <th scope="col">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">{{ a }}</td>
                        <td scope="row">{{ a }}</td>
                        <td scope="row">{{ a }}</td>
                        <td scope="row">{{ a }}</td>
                        <td scope="row">{{ a }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
</body>

</html>